    <div class="row">
      <span class="dashboard-section"  >
             <label> 
             <%= title %>
               <i class="caret mdi mdi-menu-down no-reverse"></i>
             </label>
      </span>
      <div class="collapsible big <%= ((main && params[:nominees].blank? and params[:archived].blank?) or (!main and params[:nominees].blank? and !params[:archived].blank?)) ? ' show':'' %>">
      <% unless users.empty? %>
      <div id="registered-users" class="flex-table flex-registered" style="order:0;">
        <div class="table-header" id="registered-header">
          <div data-field="name" class="flex-table-header flex-table-cell flex-table-email <%= getFilterClass("family_name", params) %>">
            <a href="<%=getFilterURL("family_name", params, main)%>">Student Name</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="uni" class="flex-table-header flex-table-cell flex-table-univ <%= getFilterClass("inst_sending_name", params) %>">
            <a href="<%=getFilterURL("inst_sending_name", params, main) %>">University</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="period" class="flex-table-header flex-table-cell flex-table-period <%= getFilterClass("academic_year", params) %>">
            <a href="<%=getFilterURL("academic_year", params, main) %> ">Period</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="form" class="flex-table-header flex-table-cell flex-table-app-form"> Form
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="letter" class="flex-table-header flex-table-cell flex-table-mot-letter">Letter
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="cv" class="flex-table-header flex-table-cell flex-table-cv">CV
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="tr" class="flex-table-header flex-table-cell flex-table-trans-rec">TR
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="la" class="flex-table-header flex-table-cell flex-table-la">LA
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="status" class="flex-table-header flex-table-cell flex-table-status <%= getFilterClass("progress_status", params) %>">
            <a href="<%=getFilterURL("progress_status", params, main) %>">Status</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="pctg" class="flex-table-header flex-table-cell flex-table-pctg ">%
            <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
        </div>
        
        <% users.each_with_index do |user, index| %>
          <div class="registered-item"  >
            <div data-name="<%= (defined? user.family_name ? user.family_name : "").split(" ").join("") %>" class="user-<%= user.id %>-id flex-table-cell flex-table-email">
              <span class="big-hidden">Email:</span><a href="<%= RELATIVE_URL %>/review_dashboard/<%=user.id%>"><span class="email"><%= user.family_name %>, <%= user.first_name %> </span></a>
            </div>
            <div data-uni="<%= user.student_application_form.inst_sending_name %>" class="user-<%= user.id %>-id flex-table-cell flex-table-univ">
              <span class="big-hidden">University: </span>
              <%= user.student_application_form.inst_sending_name %>
            </div>
            <div data-period="<%= user.student_application_form.academic_year %>" class="user-<%= user.id %>-id flex-table-cell flex-table-period">
              <span class="big-hidden">Period: </span>
              <%= user.student_application_form.academic_year %>
            </div>
            <% pctg = user.student_application_form.completed_percentage(!user.signed_student_application_form.blank?) %>
            <div data-form="<%= pctg %>" class="user-<%= user.id %>-id flex-table-cell flex-table-app-form">
              <span class="big-hidden">App Form: </span>
              <span class="dashboard-icon">
                <a href="<%= RELATIVE_URL %>/review_student_application_form/<%=user.id%>/1">
                  
                <%="#{pctg}" %>
                  <i  class="mdi mdi-clipboard-text app-form <%= 'green' if pctg === '100%' %>"></i>
                </a>
              </span>
            </div>
            <div data-letter="<%= user.motivation_letter.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-mot-letter">
              <span class="big-hidden">Mot. Letter: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-email <%=  'exists' if user.motivation_letter.exists?  %>"></i>
              </span>
            </div>
            <div data-cv="<%= user.curriculum_vitae.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-cv">
              <span class="big-hidden">CV: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-account <%=  'exists' if user.curriculum_vitae.exists?  %>"></i>
              </span>
            </div>
            <div data-tr="<%= user.transcript_of_records.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-trans-rec">
              <span class="big-hidden">Trans. Rec: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-radiobox-marked <%=  'exists' if user.transcript_of_records.exists?  %>"></i>
              </span>
            </div>
            <div data-la="<%= user.learning_agreement.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-la">
              <span class="big-hidden">LA: </span>
              <span class="dashboard-icon"><i class="mdi mdi-school <%=  'exists' if user.learning_agreement.exists?  %>"></i>
              </span>
            </div>
            <div data-status="<%= user.progress_status %>" class="user-<%= user.id %>-id flex-table-cell flex-table-status">
              <span class="big-hidden">Status: </span>
              <% if (user.progress_status != "finished" and user.percentage.to_i != 100) %>
                <%= user.progress_status.humanize.capitalize %>
              <% else #elsif user.progress_status == "finished"  %>
                <%= form_for(user, url: set_user_status_path,  method: :post) do |f|%>
                  <%= f.select :progress_status, User.progress_statuses.map{|k,v| [k.humanize.capitalize, k]}, {}, {value: user.progress_status, class: 'form-control progressStatus', :disabled => !main,  onfocus: 'this.setAttribute("PrvSelectedValue",this.value);'}%>

                  <%= f.hidden_field :id, :value => user.id %>
                <% end %>
              <% #else %>
                <%#= user.progress_status.humanize.capitalize %>
              <% end %>
            </div>
            <div data-pctg="<%= user.percentage %>" class="user-<%= user.id %>-id flex-table-cell flex-table-pctg">
              <span class="big-hidden">Progress: </span>
              <%= "#{user.percentage}" %>
            </div>
          </div>
        <% end %>
        <div class="pagination"><%= will_paginate(users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
        </div>
      </div>
      <%else%>
          <p class="no-results">No results</p>
      <%end%>
      </div>

    </div>
    <div class="row">
	<span class="dashboard-section" id="motivation-letter-tab">
		<%unless admin === true or (!current_user.seeking_degree and name === :english_test_score ) or name === :spanish_test_score or name === :valid_insurance_policy %>
				<span class="red">*</span>
		<%else %>
				<span class="red">&nbsp; </span>
		<%end%>
    <label for=<%=name%>>
			<%=label%><i class="caret mdi mdi-menu-down no-reverse"></i>
		</label>
	</span>

      <%unless content.blank? %>
        <span class="check_mark"><i class="mdi mdi-check green"></i></span>
        <div class="collapsible">
          <% if name === :ni_passport %>
            <div class="ni_selection"><p><b>Type of document:</b>  <%= current_user["ni_type"] == "id" ? "Identity card" : "Passport"%></p></div>
          <%end %>
          <% if name === :learning_agreement %>
            <%= render partial: "users/learning_agreement_panel", :locals => {
                :admin => admin,
                :name => name,
                :current_user => current_user,
                :content => content,
                :file_name => file_name,
                :label => "Learning Agreement"}  %>
          <%end %>
          <div class="align-right">
            <div class="file-name"><i class="mdi mdi-file"></i> <span class=""> <%= link_to  file_name,  content.url %></span></div>
            <%unless admin === true  %>
              <%= button_to "Delete", user_file_delete_url(:id => current_user.id, :attachment => name), :method=> :delete, :class => "custom-button" , :form_class =>   "deletion" %>

            <%end%>
            <a href="<%=  content.url%>" download="<%=  file_name %>"><button class="custom-button primary">Download</button></a>
          </div>
        </div>
      <% else %>
        <div class="collapsible">
          <% if name === :learning_agreement %>
            <%= render partial: "users/learning_agreement_panel", :locals => {
                :admin => admin,
                :name => name,
                :current_user => current_user.blank? ? nil: current_user,
                :content => content,
                :file_name => file_name,
                :label => "Learning Agreement"}  %>
          <%end %>
          <%unless admin === true  %>
            <%= form_for current_user, url: user_file_upload_path, html: { multipart: true , }, :method => :POST do |form| %>
              <% if name === :ni_passport %>
                <div class="ni_selection">
                  <p><b> Type of document:</b></p>
                  <%= form.radio_button :ni_type, 'id', :checked => current_user["ni_type"] == "id", :required=>true%>
                  <%= form.label :ni_type, 'Identity card', :value => :id %> &nbsp;
                  <%= form.radio_button :ni_type, 'passport', :checked => current_user["ni_type"] == "passport",  :required=>true%>
                  <%= form.label :ni_type, 'Passport',  :value => :passport %>
                </div>
              <%end %>
              <div class="align-right">
                <div class="file-name">
                  <%= form.file_field name %>
                </div>
                <%= form.submit "Upload", :class => "custom-button primary" %>
              </div>

            <% end %>
          <%else%>
            <p class="no-results">Not yet uploaded</p>
          <%end%>
        </div>
      <%end%>
    </div>
