<% unless User.exists?(id: params[:user], role: "user")  %>
	<div class="align-right">
		<%= button_to "Dashboard", admin_dashboard_path, :method=> :get, :class => "custom-button primary",:form_class =>"inline"%>
		<%= button_to "Log out", destroy_user_session_path, :method=> :delete, :class => "custom-button", :form_class =>"inline"%>
	</div>
	<br/><br/>
	<p class="no-results">The selected user does not exist</p>
<%else%>
	<% admin = current_user %>
	<% current_user = User.find(params[:user]) %>
	<div class="align-right">
		<%= button_to "User Contact", "mailto:"+current_user.email , :method=> :get, :class => "custom-button primary",:form_class =>"inline"%>
		<%= button_to "Dashboard", admin_dashboard_path, :method=> :get, :class => "custom-button primary",:form_class =>"inline"%>
		<%= button_to "Log out", destroy_user_session_path, :method=> :delete, :class => "custom-button", :form_class =>"inline"%>
	</div>
  <% settings = ProjectSettings.first_or_create! %>
  <h1 class="title"> You are reviewing <%= current_user.first_name %>'s application</h1>
  <%unless current_user.progress_status == "during_mobility" %>
    <%= render partial: "users/before_review_dashboard", :locals => {
        :current_user => current_user}  %>
  <%else %>
    <%= render partial: "users/during_review_dashboard", :locals => {
        :current_user => current_user}  %>

  <%end %>

<%end %>
