<% result = PdfHelper::calculate_year(user.student_application_form.academic_year) %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style='margin: 0cm;'>
<style type='text/css'>
  @page { margin-left: 2.2cm; margin-right: 2.2cm }
  * { font-family: Arial; }
  p { color: #000000; font-family: Helvetica; font-size: 12pt;}
  td p { color: #000000 }
  h1 { color: #000000 }
  h2 { color: #000000 }
  h2.cjk { font-family: 'Helvetica'}
  td { font-family: Helvetica; font-size: 12pt; }
</style>
<% if !logos.blank?%>
  <img src="<%= "#{request.base_url + RELATIVE_URL}/assets/logoUPM.jpg" %>" data-width="60" width="60" style="float: left;" />
  <img src="<%= "#{request.base_url + RELATIVE_URL}/assets/logoescuela.jpg" %>" data-width="140" width="140" style="float: right;" />
  <br style="clear: both;"/>
<%else %>
<%end %>
<h1 class="center" data-style="#4664A2" style=' text-align:center; margin: 0cm; font-size: 12pt; font-family: Arial; color: #4664A2; font-weight: normal; border: 1px solid #ffffff;'>UNIVERSIDAD POLITÉCNICA DE MADRID<br/>ESCUELA TÉCNICA SUPERIOR DE INGENIEROS DE TELECOMUNICACIÓN</h1>
<h2 style="text-align: center; font-family: Helvetica"> OFFICIAL ACCEPTANCE DOCUMENT</h2>
<br/>
<table border='0' width='100%' style='margin: 0cm; border-width: 0pt !important; width: 16cm; font-size: 12pt; display: block; font-family: Arial;'>
<tr><td> TO:</td><td><b><%= user.family_name +  " " + user.first_name %></b></td></tr>
<tr><td> HOME UNIVERSITY:</td><td><b><%= user.student_application_form.inst_sending_name %></b></td></tr>
<tr><td> PROGRAMME:</td> <td><b><%= user.student_application_form.programme %></b></td></tr>
<tr><td> PERIOD OF STAY: </td> <td><b><%= user.student_application_form.academic_year %></b></td></tr>
</table>
<div style='margin: 0cm;'>
  <br/>
  <p style='text-align:right; font-size: 12pt;'><%= PdfHelper::get_time_and_place %></p>
  <p style="font-size: 12pt">Dear <%= user.first_name %>,</p>
  <p style='text-align: justify; font-size: 12pt'>We are pleased to let you know that you have been admitted to the <b>Escuela Técnica Superior de Ingenieros de Telecomunicación</b> of the <b>Universidad Politécnica de Madrid</b> in the framework of <%= user.student_application_form.programme%> Programme to follow courses during <%= result%>.</p>
  <p style='text-align: justify; font-size: 12pt'>More information regarding your stay in Madrid will be sent closer to your arrival date. In the meantime, please do not hesitate to contact theInternational Office if you have any questions.</p>
  <br/>
  <p>Yours sincerely,</p>
  <br/>
  <br/>
  <br/>
  <p>Luis Salgado</p>
  <p>Vice-Dean for International Relations and Corporate Partnership</p>
  <p>International Office ETSIT - UPM</p>
</div>
</body>
</html>